@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-left: 40px;
    background-image: url(./assets/pexels-pixabay-276514.jpg);
    background-size: cover;
}


.profile,
.profile .img-area,
.social-icons a,
.buttons button{

    background: transparent;
    box-shadow: -3px -3px 7px white,
                 3px 3px 5px white

}


.profile{
  position: relative;
  width: 350px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile .icon{
font-size: 17px;
color: #ffff;
position: absolute;
cursor: pointer;
opacity: 0.7;
top: 15px;
height: 35px;
width: 35px;
text-align: center;
line-height: 35px;
border-radius: 50%;



}


.profile .icon i{
  position: relative;
  z-index: 9;
}

.profile .icon.arrow{
  left: 15px;
}
.profile .icon.dots{
  right: 15px;
}

.profile .img-area{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-area .inner-area{
height: calc(100% - 25px);
width: calc(100% - 25px);
border-radius: 50%;


}

.inner-area img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.profile .name{
  font-size: 23px;
  font-weight: 500;
  color: #ffff;
  margin:  10px 0px 5px 0;
}

.profile .about{
  color: #ffff;
  font-weight: 400;
  font-size: 16px;
}
.profile .social-icons{
  margin: 15px 0px 25px 0px;
}

.social-icons a{
  background: transparent;
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
}
.buttons button{
  background: transparent;

}

.social-icons a:hover::before,
.profile .icon:hover::before,
.buttons button:hover::before{

  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  

}

.buttons button:hover::before{
  z-index: -1;
  border-radius: 5px;
}

.social-icons a i{
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 40px;
}

.social-icons a.facebook i{
  color: #4267B2;
}
.social-icons a.insta i{
  color: #1DA1F2;
}
.social-icons a.twitter i{
  color: #E1306C;
}
.social-icons a.yt i{
  color: #ff0000;
}

.profile .buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttons button:first-child{
  margin-right: 10px;
}
.buttons button:last-child{
  margin-left: 10px;
}

.buttons button{
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
}

